.checkout__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
  padding: 30px;
  transition: all 0.2s;
}
.checkout__container form {
  width: 60%;
  margin: auto;
}
.checkout__container form > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.checkout__container form input {
  height: 40px;
  padding: 5px;
  border: 1px solid #c0c0c0;
}
.checkout__container form button {
  height: 40px;
  cursor: pointer;
}

.checkout__close {
  position: absolute;
  right: 84px;
  top: 15px;
  font-size: 35px;
  cursor: pointer;
}