.checkout__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
  padding: 30px;
}
.checkout__container form {
  width: 60%;
  margin: auto;
}
.checkout__container form > div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.checkout__container form input {
  height: 40px;
  padding: 5px;
  border: 1px solid #c0c0c0;
}
.checkout__container form button {
  height: 40px;
  cursor: pointer;
}

.checkout__close {
  position: absolute;
  right: 84px;
  top: 15px;
  font-size: 35px;
  cursor: pointer;
}

.order {
  display: flex;
  padding: 50px 30px;
  flex-direction: column;
  height: 100%;
  font-size: 25px;
  font-weight: 700;
}
.order__closeBtn {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer !important;
  font-size: 40px;
}
.order__success {
  background-color: green;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.order table {
  border: 1px solid #c0c0c0;
}
.order table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
}
.order table tr :last-of-type {
  border: bottom 0;
}
.order table tr td {
  padding: 10px;
}