.product {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        width: 23%;
    }

    &__img {
        width: 100%;
        height: 150px;
        padding: 2px;
        border: solid 1px #c0c0c0;
    }

    &__des {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin: 20px 0;
    }

    &__btn {
        width: 100%;
        display: block;
        border: 0;
        background-color: #245ea2;
        color: #fff;
        padding: 7px;
        border-radius: 5px;
    }
}

// ============ Model ================

.model {
    text-align: center;
    &__img {
        display: block;
        width: 30%;
        max-width: 100%;
        margin: 20px auto;
    }

    &__title {
        color: #245ea2;
        font-size: 20px;
        margin: 10px 0;
    }
}

.model__closebtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
} 